.vs
/DverCtrl/Debug
/Kernel/Debug
/Kernel/x64
/DverCtrl/x64
/Kernel/ARM
/Kernel/Filter/KeyBord/x64
/Kernel/Filter/KeyBord/.vs
/Kernel/Disk/RamDisk/x64
/Kernel/Disk/FilterDisk/Debug
/Kernel/Disk/FilterDisk/x64
/Kernel/Disk/FilterFileSys/Debug
/Kernel/Disk/FilterFileSys/x64
/Kernel/Disk/FilterFileSys/.vs
